
.main{
    width: 100%;
    height: auto;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 60px;
}
.banner {
    display: flex;
    gap: 10px; 
    margin-top: 10px; 
    height: auto;
}

.banner .big_banner {
    flex: 3;
    height: 500px; 
    border-radius: 10px;
    overflow: hidden;
}

.sub_banner {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px; 
    height: 100%;
}

.sub_banner1,
.sub_banner2,
.sub_banner3 {
    flex: 1;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
}
.main_sale_background{
    background: linear-gradient(rgb(248, 62, 96), rgb(254, 80, 72)) 0% 0% / cover;
    border-radius: 15px;
    width: 95%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.7);
}
.main_sale_product_title{
    margin-top: 20px;
    padding: 0;
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.main_sale_product_title div.main_img_sale_product{
    width: 60%;
    height: 100%;
    margin-left: 20px;
}
.main_sale_product{
    width: 90%;
    height: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.main_sale_product div.sale_product{
    width: 19%;
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}
.sale_product div.sale_value{
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    background-color: red;
}
.sale_product div.sale_value span{
    color: white;
}
.sale_product_img{
    width: 90%;
    margin: 0 auto;
}
.sale_product_name{
    width: 90%;
    margin: 5px 10px 5px 10px;
}
.sale_product_name span{
    color: rgb(83, 83, 83);
    font-size: 20px;
    font-weight: 800;
}
.sale_product_price{
    width: 90%;
    margin: 5px 10px 20px 10px;
}
.sale_product_price span{
    color: red;
    font: 16px;
    font-weight: 500;
}
.sale_product_buy_b{
    width: 80%;
    margin: 0 auto;
}
.sale_product_buy_b input{
    width: 100%;
    height: 30px;
    background-color: rgb(244, 46, 79);
    border-radius: 15px;
    color: rgb(0, 0, 0);
}
.sale_product_buy_b input:hover{
    opacity: 0.8;
    cursor: pointer;
}

/* may tinh bang noi bat*/
.product-wraper{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.show-product a{
    text-decoration: none;
}
.product-head-title{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding-left: 40px;
}
.product-head-title span{
    font-size: 30px;
    font-weight: 800;
}
.product-container{
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    padding-left: 40px;
}
.show-product{
    width: 250px;
    margin: 10px 15px 10px 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_content{
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    background-color: red;
}
.product_content span{
    color: white;
}
.product_image{
    width: 90%;
    margin: 0 auto;
}
.product_name{
    width: 90%;
    margin: 5px 10px 5px 10px;
}
.product_name span{
    color: rgb(83, 83, 83);
    font-size: 16px;
    font-weight: 800;
}
.product_price{
    width: 90%;
    margin: 5px 10px 20px 10px;
}
.product_price span{
    color: red;
    font: 16px;
    font-weight: 500;
}